
.home {
    background: url('../../images/bg2.png')
}
.padding{
    padding-top:10px;
    
}

ion-title  {
    font-size: 2rem !important;
    font-weight: bold;
}
.windows-title{
    display: none;
}
.tab-button-icon{
    min-width: 3rem;
    font-size: 3rem;
}

.bar-button{
    font-size: 2rem;
    color:#000;
}
@media screen and ( min-width: 800px){
    .windows-title{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    display: block;
 }

 .tab-button-icon{
    min-width: 9rem;
    font-size: 7rem;
}

.bar-button{
    font-size: 4rem;
}
}
 

ion-item{
    height:100% !important;
    color:#fff;
}



.content p{
    font-size: 25px;
    line-height: 25px;
}
